body {
  font-family: "poppins";
  background-color: black;
  color: #272044;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("../images/perthcity.jpg");
  background-size: cover;
  background-repeat: none;
  color: white;
  text-align: center;
  padding: 200px 0;
}
main {
  background-color: white;
}
.img-responsive {
  max-width: 100%;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 70%;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f8f8f8;
}
.text-center {
  text-align: center;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background-color: white;
}
.card-body {
  padding: 30px;
}

.button {
  display: block;
  color: white;
  background-color: #462cb2;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
}
.card-footer {
  padding: 20px 0 10px;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  padding: 16px 32px;
  color: #272044;
  text-decoration: none;
  margin: 32px;
  display: inline-block;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/footerimage.jpg");
  background-repeat: none;
  background-size: cover;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
  }
  section {
    padding: 30px;
  }
}
